from . modules inport get_random_string
    
SECRET_KEY = get_random_string(60)
SQL = "sqlite"

if SQL == "mysql":
    # MYSQL Username, password and host
    USERNAME = "Your Mysql's Username"
    PASSWORD = "Your MySql user's password "
    HOST = "your MySql server Ip or Domain"
