{% extends 'base.html' %}
{% block content %}
    <h1> {% block title %} About! {% endblock %} </h1>
    <p>
        <span class="first-letter">T</span>he Mozlink is a simple, fast, and free link shortener.
        I make it because I'm in the process of learning how to build a web application and usage of the <a href="https://flask.palletsprojects.com/">Flask</a> framework. 
    </p>
    <p>
        How I can Run this? for more information, please visit <a href="https://github.com/mmdbalkhi/mozlink#readme">Github</a>
    </p>
{% endblock %}