<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Short link Builder">
  <meta name="google-site-verification" content="PA-wkQBisuhURnLyGMlA-sqPaiautrCCOS7OXtGxSaI" />
  <meta name="og:mozlink" property="og:mozlink" content="Short link Builde">
  <meta name="twitter:card" content="komeilparseh">
  <link rel="canonical" href="https://komeilparseh.github.io/">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-earthly.css" type="text/css" />

  <title>{% block title %} {% endblock %}</title>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
  <style>
    .center {
      margin: auto;
      width: 50%;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div class="center">
    <navbar style="margin-left: 1%">
      <a href='{{ url_for("index")}}'>Mozlink!</a> |
      <a href="https:&#x2F;&#x2F;github.com&#x2F;komeilparseh&#x2F;mozlink">Source Code</a>
      |
      <a href="https://komeilparseh.github.io/2021/May/04/Mozlink/">About</a>
    </navbar>
  </div>
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %} {% block content %} {% endblock %}
  </div>

  <!-- scripts -->
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://kit.fontawesome.com/872f587f26.js" crossorigin="anonymous"></script>

  <script>
    function addDarkmodeWidget() {
      new Darkmode({ label: "🌓" }).showWidget();
    }
    window.addEventListener("load", addDarkmodeWidget);
  </script>
  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
      swal("Copyed!", "Your link was successfully copied", "success");
    }

  </script>
</body>

</html>