{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} MozLink! {% endblock %}</h1>
<form method="post">
    <div class="form-group">
        <label for="url">URL</label>
        <input type="text" name="url" placeholder="URL to shorten" class="form-control"
            value="{{ request.form['url'] }}" autofocus></input>
    </div>

    <div align="center" class="form-group">
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </div>
</form>

{% if short_url %}
<hr>
<span>Your short link is <a href="{{ short_url }}" rel="noopener noreferrer" target="_blank">{{ short_url }}</a></span>
{% endif %}
{% endblock %}